
.input{
  margin: 0 auto;
  width: 90vw;
  max-width: 900px;
  height: 40px;
}
.main{
  background-color: blue;
  margin: 0 auto;
  width: 600px;
  height: 220px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;


}
.buttons{
  width: 35px;
  height: 35px;
  background-color: #323746;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.little{
  font-size: 10px;
  position: relative;
  top: -10px;
  left: -1px;
}
.txt{
  position: relative;
  left: 0px;
  bottom: 1px;
}